body {
    font-family:Arial, Helvetica, sans-serif
}

.header {
    display: flex;
    justify-content: space-between;
    color: #f9faf8;
    background-color: #1f2937;
    font-size: 24px;
    font-weight: bold;
    padding-left: 100px;
    align-items: center;
    
    


}

li {
    color: white;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    color: white;
    font-weight: normal;
    padding-right: 100px;
    align-items: center;
    
/*you need to fix the gap in the links*/ 

}

.body {
    display: flex;
    flex-direction: column;
}


a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
    
       
}

.section-1 {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;

}

.description {
    display: flex;
    flex-direction: column;
    padding-left: 100px;

}

#image-placeholder {
    background-color: grey;
    width: 250px;
    height: 250px;
    margin-right: 100px;
}

